.game .headerContainer {
    margin-bottom: 80px;
    text-align: center;
}

.game h1 {
    font-size: 3em;
    color: #d4fecd;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.points span {
    font-weight: bold;
    color: #76c76b;
}

.tip span {
    color: #ffc107;
    font-weight: bold;
}

.attemptsWarn {
    margin-top: 20px;
    color: #ff6161;
}

.wordContainer {
    margin: 2em auto;
    padding: 1.5em;
    border: 10px solid #76c76b;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.letter,
.blankSquare {
    font-size: 60px;
    line-height: 1.5;
    border: 2px solid #76c76b;
    border-radius: 10px;
    height: 90px;
    width: 90px;
    text-transform: uppercase;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.1);
    }
}

.letterContainer p {
    margin-bottom: 1.2em;
    font-size: 1.2em;
}

.letterContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.letterContainer input {
    height: 50px;
    width: 50px;
    font-size: 1.8em;
    text-align: center;
    border: 2px solid #76c76b;
    border-radius: 10px;
    outline: none;
    background-color: #e9ffe9;
    color: #000;
    font-weight: bold;
    transition: border-color 0.3s ease;

    &:focus {
        border-color: #28a745;
    }
}

.wrongLettersContainer p {
    margin: 20px 0 10px;
    color: #f86c6c;
    font-weight: bold;
}
