/* Para dispositivos menores que 768px (tablets e smartphones) */
@media (max-width: 768px) {
    .game .headerContainer {
        margin-bottom: 40px;
    }

    .game h1 {
        font-size: 2em;
    }

    .points span {
        font-size: 1em;
    }

    .wordContainer {
        margin: 1.5em auto;
        padding: 1em;
        flex-wrap: wrap;
        gap: 0.3em;
    }

    .letter,
    .blankSquare {
        font-size: 40px;
        height: 70px;
        width: 70px;
    }

    .letterContainer input {
        height: 40px;
        width: 40px;
        font-size: 1.5em;
    }

    .letterContainer p {
        font-size: 1em;
    }
}

/* Para dispositivos menores que 480px (smartphones menores) */
@media (max-width: 480px) {
    .game h1 {
        font-size: 1.5em;
    }

    .points span {
        font-size: 0.9em;
    }

    .wordContainer {
        padding: 0.8em;
        gap: 0.2em;
    }

    .letter,
    .blankSquare {
        font-size: 30px;
        height: 60px;
        width: 60px;
    }

    .letterContainer input {
        height: 35px;
        width: 35px;
        font-size: 1.2em;
    }

    button {
        padding: 0 30px;
        height: 40px;
        font-size: 0.9em;
    }
}
